
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
}

<h1>System Reports </h1>
h2>Service Average Waiting Times</h2>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Chart.css" rel="stylesheet" />
<script src="~/Scripts/Chart.bundle.js"></script>
<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<canvas id="myChart" style="max-width: 500px;"></canvas>



<script>

    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Loans", "Deposit", "General Enquiries", "Investments", "Change Accounts", "Open Accounts"],
            datasets: [{
                label: 'Times',
                data: [6, 10, 2, 3, 6, 15],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

</script>
<br />
<br />
<br />

<canvas id="pieChart"></canvas>
<h2>Most Visited Services </h2>
<script>
    //pie
    var ctxP = document.getElementById("pieChart").getContext('2d');
    var myPieChart = new Chart(ctxP, {
        type: 'pie',
        data: {
            labels: ["Loan", "Deposit", "Open Account", "Card Renewals", "General Enquiries", "Change Account", "Investments"],
            datasets: [{
                data: [300, 50, 100, 40, 120, 30, 55],
                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360", "000000"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
            }]
        },
        options: {
            responsive: true
        }
    });

</script>
<br/>
<br />
<br />
@* Mostly Active Provices/ With more Visits t check which provinces need the app more*@
<canvas id="horizontalBar"></canvas>
<script>
    new Chart(document.getElementById("horizontalBar"), {
        "type": "horizontalBar",
        "data": {
            "labels": ["Gauteng", "Mpumalanga", "KwaZulu-Natal", "Eastern Cape", "Limpopo", "Western Cape", "Free State", "Northern Cape", "North West"],
            "datasets": [{
                "label": "My First Dataset",
                "data": [94, 33, 55, 12, 0, 23, 0, 0, 50],
                "fill": false,
                "backgroundColor": ["rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)",
                    "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(54, 162, 235, 0.2)",
                    "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"
                ],
                "borderColor": ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)",
                    "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"
                ],
                "borderWidth": 1
            }]
        },
        "options": {
            "scales": {
                "xAxes": [{
                    "ticks": {
                        "beginAtZero": true
                    }
                }]
            }
        }
    });


</script>


