@model List<Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Tickets Active</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Tickets Active</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    @foreach (var service in Model)
                    {
                        <partial name="_ServiceRowPartial" model="@service" />
                    }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="update ml-auto m-2">
                    <a href="/Services/Create" class="btn btn-primary btn-round">Add Service</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->