
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*
@if (Request.Cookies["Token"])
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-rout-returnUrl="@Url.Page("/Index", new {area = ""})" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <a asp-area="Identity" asp-page="/Account/Manager/Index" title="Manage">Hello @UserManager.GetUserName(User)</a>
        </ul>

    </form>
}
*@