@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Service

<div class="col-md-5 col-sm-4 col-lg-3 card-container">
    <div class="card card-flip">
        <div class="front card-block">
            <h4 class="card-title"><a href="/Branches/@ViewData["branchId"]/Services/@Model.Id/Tickets">@Model.Name</a></h4>
            <h6 class="card-subtitle text-muted">Waiting Time: @Model.CalculateAverageWaitingTime().ToString(@"hh\:mm\:ss")</h6>
            <p class="card-text">Active Tickets: @Model.Tickets.Count(x => x.Active)</p>
        </div>
        <div class="back card-block">
            <p>
                @Model.Description
            </p>
            <a href="/Branches/@ViewData["branchId"]/Services/@Model.Id/Tickets" class="btn btn-outline-primary">Tickets</a>
        </div>
    </div>
</div>