@{
    ViewData["Title"] = "iQueue";
}

<partial name="_SlidesPartial"/>
<!-- Page Content -->
<section class="py-5">
    <div class="container-fluid">
        <h1>Welcome to iQueue @ViewBag.Name</h1>
        <p><i>@ViewBag.Message</i></p>
        <p class="lead">Queue anywhere, anytime.
            <a href="/Branches">Get Started</a>
        </p>
    </div>
</section>
