@model Branch
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
<tr>
    <th>Name</th>
    <th>Code</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Actions</th>
</tr>

*@

<tr>
    <td>@Model.Name</td>
    <td>@Model.Code</td>
    <td>@Model.Email</td>
    <td>@Model.Phone</td>
    <td><a href="/Branches/@Model.Id/Update" class="btn btn-warning">Update</a></td>
</tr>