@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.Branch != null)
{
    var branch = ViewBag.Branch;
    var updateStatus = ViewBag.UpdateStatus;
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @if (!string.IsNullOrWhiteSpace(updateStatus))
                {
                    <div class="alert alert-success">
                        <strong>Success!</strong> @updateStatus
                    </div>
                }

                <div class="card">
                    <h5 class="card-header">Branch @branch.Id</h5>
                    <div class="card-body">
                        <h5 class="card-title">Name: @branch.Name</h5>
                        <span class="card-text">Code: @branch.Code</span><br />
                        <span class="card-text">Email: @branch.Email</span><br />
                        <a href="/Branches/List" class="btn btn-secondary my-3 form-con
                           ">List Branches</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}